* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #050109;
    gap: 96px;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.secondblur {
    position: absolute;
    left: 712px;
    z-index: -1;
    display: none;
}

.firstblur {
    position: absolute;
    left: -108px;
    z-index: -1;
}

header {
    display: flex;
    width: 100%;
    padding: 24px 196px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(94, 94, 94, 0.10);
}

.nav {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 50px;
    border: 1px solid #5C6069;
}

.nav a {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.nav > a:nth-of-type(1) {
    border-radius: 24px;
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
}

.header-buttons button:first-child {
    border-radius: 24px;
    border: 1px solid #5C6069;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
}

.header-buttons button:last-child {
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.header-container {
    display: flex;
    max-width: 996px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}

.header-container h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 121.429% */
}

.header-container p {
    color: #D9DCEB;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

.header-container-buttons button:first-child {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #5C6069;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
}

.header-container-buttons button:last-child {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));  
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-container-buttons {
    display: flex;
    height: 51px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 71px;
    align-items: center;
    position: relative;

    width: 100%;
}

.logosinheader {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logosinheader div {
    position: relative;
    width: 167px;
}

.logosinheader div img:nth-of-type(1) {
    position: absolute;
    transform: translate(-50%, -50%);
}

.logosinheader div img:nth-of-type(2) {
    position: absolute;
    left: 35px;
    transform: translate(-50%, -50%);
}
.logosinheader div img:nth-of-type(3) {
    position: absolute;
    left: 70px;
    transform: translate(-50%, -50%);
}
.logosinheader div img:nth-of-type(4) {
    position: absolute;
    left: 105px;
    transform: translate(-50%, -50%);
}
.logosinheader p {
    color: #D9DCEB;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 95px;
    width: 100%;
    margin-left: auto;
}

#planet {
    position: absolute;
    top: 530px;
    left: 0px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    z-index: 2;
    margin-top: 250px;
}

.header-container-buttons button:first-child {
    position: relative;
}

.header-container-buttons button:first-child img {
    position: absolute;
    left: -13px;
    top: -15px;
}

.first-container {
    display: flex;
    max-width: 1048px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
}

.first-container h2 {
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.first-container u {
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-container span {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.first-boxes {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.first-box {
    background:url(card-template.png) no-repeat;
    width: 312px;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.first-box-text {
    display: flex;
    gap: 8px;
    margin-top: 41.95px;
    width: 248px;
    flex-direction: column;
    gap: 8px;
}

.first-box-text h3 {
    color: var(--primary-txt, #FFF);
    text-align: center;

    /* Body1 24/28 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    text-transform: capitalize;
}

.first-box-text p {
    color: #D9DCEB;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.first-box span {
    position: absolute;
    top: -105px;
}

#help {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 966px;
    left: 1182px;
}

.second-container {
    display: flex;
    max-width: 1048px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
}

.second-container h2 {
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.second-container u {
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-container span {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.second-boxes {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-direction: row;
}

.second-box h3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.second-box p {
    color: #7A7A7A;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    max-width: 247px;
    width: 100%;
}

.second-boxes svg {
    align-self: flex-end;
}

footer {
    display: flex;

    width: 100%;
    padding: 40px 200px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-links-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.footer-links-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.footer-socials p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.footer-links-one a, .footer-links-two a {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.footer-links-one a:first-of-type, .footer-links-two a:first-of-type {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.third-container {
    max-width: 1048px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 89px;
}

.third-phone {
    position: relative;
}

.third-phone img:first-of-type {
    border-radius: 13px;
}

.third-phone img:last-of-type {
    position: absolute;
    top: 491px;
    left: 177px;
}

.third-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.third-text h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

.third-text u {
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.third-text p {
    color: #D9DCEB;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

.third-text button {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #5C6069;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fourth-container {
    width: 100%;
    background: #10121B;
    height: 644px;
    position: relative;
}

.fourth-text h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

.fourth-text u {
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.fourth-text p {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    max-width: 930px;
}

.fourth-text {
    display: flex;
    width: 1042px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    text-align: center;
}

.fourth-text button {
    position: relative;
    border-radius: 24px;
    border: 1px solid #5C6069;
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fourth-text button img {
    position: absolute;
    left: -17.5px;
    top: -18px;
}

.galaxy {
    width: 1048px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 24px;
    background: url(galaxy.png) lightgray 50% / cover no-repeat;
    position: absolute;
    top: 299px;
    left: 0;
    right: 0;
    margin: auto
}

.fifth-container {
    display: flex;
    max-width: 1048px;
    flex-direction: column;
    align-items: center;
    gap: 84px;
    margin: 0 auto;
    margin-top: 191px;
}

.fifth-container h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

.fifth-container u {
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.fifth-boxes {
    height: 272px;
    align-self: stretch;
    width: 1048px;
    display: flex;
    gap: 16px;
}

.fifth-box-bottom {
    max-width: 250px;
    height: 200px;
    border-radius: 12px;
    background: #10121B;
    padding: 48px 24px 24px 24px;
    position: relative;
    margin-top: 72px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fifth-boxes h3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fifth-boxes p {
    color: #7A7A7A;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}

.fifth-box-bottom img:first-of-type {
    position: absolute;
    right: 98px;
    top: -32px;
}

.fifth-box-bottom img:last-of-type {
    position: absolute;
    right: 12px;
    bottom: -13px;
}

.fifth-box-top {
    max-width: 250px;
    height: 200px;
    border-radius: 12px;
    background: #10121B;
    padding: 48px 24px 24px 24px;
    position: relative;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fifth-box-top img:first-of-type {
    position: absolute;
    right: 98px;
    top: -32px;
}

.fifth-box-top img:last-of-type {
    position: absolute;
    left: 7.4px;
    top: -13px;
    rotate: 180deg;
}

.sixth-container {
    max-width: 1048px;
    width: 100%;
    max-height: 527px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    position: relative;
}

.diamondo {
    position: absolute;
    top: 61px;
    left: 556px;
    width: 592px;
    height: 466px;
    z-index: 0;
    background-image: url(sixth.png);
}

.sixth-text {
    display: flex;
    max-width: 737px;
    padding: 32px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 2px solid var(--gradient, #7039F0);
    background: rgba(16, 18, 27, 0.10);
    backdrop-filter: blur(8.75px);
    z-index: 1;
}

.sixth-text h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    max-width: 552px;
    text-align: left;
}

.sixth-text p {
    color: #D9DCEB;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    max-width: 552px;
    text-align: left;
}

.sixth-text button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.seventh-container {
    display: flex;
    max-width: 1048px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
}

.seventh-container h2 {
    color: var(--primary-txt, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.seventh-container u {
    background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phone {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.phone-box p {
    color: var(--primary-txt, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.phone-box {
    position: absolute;
    display: inline-flex;
    padding: 24px 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background: linear-gradient(323deg, rgba(0, 255, 107, 0.08) 0%, rgba(0, 0, 0, 0.00) 47.43%), #10121B;
}

.phone-box:nth-of-type(1) {
    top: -23px;
    left: 165px;
}

.phone-box:nth-of-type(2) {
    top: 145px;
    left: 78px;
}

.phone-box:nth-of-type(3) {
    top: 351px;
    left: 134px;
}

.phone-box:nth-of-type(4) {
    top: 548px;
    left: 61px;
}

.phone-box:nth-of-type(5) {
    top: 27px;
    left: 627px;
}

.phone-box:nth-of-type(6) {
    top: 223px;
    left: 653px;
}

.phone-box:nth-of-type(7) {
    top: 407px;
    left: 618px;
}

.phone-box:nth-of-type(8) {
    top: 631px;
    left: 616px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown img {
    width: 20px;
    height: 20px;
}

.nav a:hover { 
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Align just below the parent */
    left: 0;
    background-color: transparent;
    border-radius: 8px;
    display: none; /* Hidden by default */
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 150px; /* Ensure consistent width */
}

.dropdown-menu a:hover {
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(112, 57, 240, 0.10) 0%, rgba(166, 87, 248, 0.50) 81.19%);
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: flex;
    gap: 2px;
}

.yap {
    display: none;
}
#linephone {
    display: none;
}
#planetphone {
    display: none;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    #linephone {
        display: none;
    }
    #planetphone {
        display: none;
    }
    #help {
        display: none;
    }
    .line img {
        max-width: 768px;
        width: 100%;
    }
    .secondblur {
        display: none;
    }
    header {
        display: flex;
        padding: 24px 32px;
        flex-direction: reverse;
        align-items: flex-end;
        gap: 16px;
        flex-wrap: wrap;
    }
    .header-buttons {
        margin-left: auto;
    }
    #planet {
        width: 768px;
        height: 338px;
        left: 50%;
        transform: translateX(-50%);
        top: 64%;
    }
    .header-container {
        max-width: 704px;
    }
    .first-container {
        max-width: 704px;
        flex-wrap: wrap;
    }
    .first-boxes {
        flex-wrap: wrap;
        justify-content: center;
    }
    .first-box:last-child {
        margin-top: 84px;
    }
    .third-container {
        flex-direction: column-reverse;
        max-width: 704px;
        align-items: center;
    }
    .third-text {
        align-items: center;
    }
    .third-phone img:last-child {
        top: 490px;
        left: 115px;
    }
    .fourth-text {
        max-width: 704px;
        padding: 48px 32px 0px 32px;
        text-align: left;
    }
    .galaxy {
        width: 704px;
        height: 536px;
    }
    .fifth-container {
        max-width: 704px;
    }
    .fifth-boxes {
        flex-direction: row;
        gap: 16px 40px;
        flex-wrap: wrap;
        max-width: 704px;
        justify-content: center;
        height: 100%;
        align-self: stretch;
    }
    .fifth-box-bottom {
        margin: 0;
    }

    .sixth-container {
        max-width: 704px;
        max-height: unset;
        height: 779px;
    }
    .sixth-text {
        max-height: 394px;
    }
    .diamondo {
        width: 592px;
        height: 466px;
        top: 313px;
        left: 112px;
    }
    footer {
        max-width: 768px;
        width: 100%;
        padding: 40px 32px;
        margin: 0 auto;
    }
    .phone-box:nth-of-type(1) {
        left: 58px;
    }
    
    .phone-box:nth-of-type(2) {
        top: 172px;
        left: 12px;
    }
    
    .phone-box:nth-of-type(3) {
        top: 348px;
        left: 12px;
    }
    
    .phone-box:nth-of-type(4) {
        top: 594px;
        left: 12px;
    }
    
    .phone-box:nth-of-type(5) {
        top: 19px;
        left: 369px;
    }
    
    .phone-box:nth-of-type(6) {
        top: 215px;
        left: 484px;
    }
    
    .phone-box:nth-of-type(7) {
        top: 412px;
        left: 425px;
    }
    
    .phone-box:nth-of-type(8) {
        top: 609px;
        left: 453px;
    }
    .phone > img:first-of-type {
        position: absolute;
        left: 211px;
    }

    .seventh-container {
        height: 785px;
        padding: 0px 32px;
    }
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
        gap: 64px;
    }
        header {
            display: flex;
            padding: 24px 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-wrap: wrap;
            padding: 24px 16px;
            width: 100%;
        }
        .header {
            padding: 0px 16px;
        }
        .header-buttons {
            width: 100%;
        }
        .header-buttons button {
            width: 100%;
        }
        .dropdown {
            width: 100%;
        }
        .dropdown-menu {
            left: unset;
        }
        .nav {
            flex-direction: column;
            width: 100%;
        }
        #planet {
            width: 767;
            height: 166px;
            top: 70%;
        }
        .header-container-buttons button {
            width: 100%;
            max-width: 288px;
        }
        .header-container h1 {
            color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
        }
        .header-container p {
            color: #D9DCEB;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
        }
        .first-container {
            max-width: 288px;
            flex-wrap: wrap;
            align-items: center;
        }
        .first-boxes {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 84px;
        }
        .first-container u {
            text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 166.667% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
        }
        .first-container span {
            color: #FFF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 40px;
        }
        .second-boxes {
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
        .second-container {
            max-width: 288px;
        }
        .third-container {
            flex-direction: column-reverse;
            max-width: 288px;
            align-items: center;
            gap: 40px;
            text-align: center;
        }
        .third-text {
            align-items: center;
        }
        .third-text h2 {
            color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
        }
        .third-text u {
            background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
        }
        .third-text p {
            color: #D9DCEB;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
        }
        .third-phone img:last-child {
            top: 518px;
            left: 36px;
            width: 266.861px;
        }
        .fourth-text {
            max-width: 288px;
            padding: 48px 16px 0px 16px;
            text-align: left;
        }
        .fourth-text h2 {
            color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
        }
        .fourth-text u {
            background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 40px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
        }
        .fourth-text p {
            color: #7A7A7A;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
        }
        .galaxy {
            width: 288px;
            height: 395px;
            top: 411px;
        }
        .fifth-container {
            max-width: 288px;
        }
        .fifth-boxes {
            flex-direction: row;
            gap: 40px;
            flex-wrap: wrap;
            max-width: 288px;
            justify-content: center;
            height: 100%;
            align-self: stretch;
        }
        .fifth-box-bottom {
            margin: 0;
        }
        .fifth-container h2 {
            color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
        }
        .fifth-container u {
            background: var(--gradient, linear-gradient(180deg, #7039F0 0%, #A657F8 81.19%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
        }
        .sixth-container {
            max-width: 288px;
            max-height: unset;
            height: 565.003px;
        }
        .sixth-text {
            max-height: 419px;
            padding: 32px 40px;
        }
        .diamondo {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 288px;
            height: 100%;
            left: auto;
            top: 138px;
        }
        .sixth-container h2 {
            color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
        }
        .sixth-container p {
            color: #D9DCEB;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
        }

        .phone {
            position: unset;
            display: flex;
            flex-direction: column-reverse;
            gap: 12px;
            max-width: 288px;
        }
        .seventh-container {
            max-width: 288px;
            padding: 0px 16px;
        }
        .phone-box {
            position: unset;
            width: 100%;
        }
        .none {
            display: none;
        }
        .yap {
            display: flex;
        }
        footer {
            display: flex;
            max-width: 320px;
            padding: 40px 32px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            margin: 0 auto;
        }
        .footer-links-one, .footer-links-two, .footer-socials {
            justify-content: center;
            align-items: center;
        }
        .line {
            display: none;
        }
        #planet {
            display: none;
        }
        #help {
            display: none;
        }
        .secondblur, .firstblur {
            display: none;
        }
        #linephone {
            display: block;
        }
        #planetphone {
            display: block;
        }
}
